.stain1 {
  position: fixed;
  height: 10em;
  width: 10em;
  border-radius: 100px;
  top: 15em;
  left: 15em;
  background-color: var(--stain-color-1);
  filter: blur(12em);
}

.stain2 {
  position: fixed;
  height: 10em;
  width: 10em;
  border-radius: 100px;
  top: 80lvh;
  left: 60lvw;
  background-color: var(--stain-color-2);
  filter: blur(9em);
}

.main > section > div {
  padding: 0 2em;
  top: 7em;
  border-radius: 5px;
  margin: 0 7em 0 50%;
}
.main > section > h3 {
  display: none;
  opacity: 0;
}
.heroMobile {
  display: none;
  padding: 2em;
  color: var(--font-color-primary);
}
.heroMobile h1 {
  font-size: clamp(2rem, 0rem + 5.333vw, 4.5rem);
}

.heroMobile h2 {
  font-size: 1.8em;
  font-size: clamp(1.2rem, 0.24rem + 2.56vw, 2.4rem);
  font-family: YanoneKaffeesatz;
  color: var(--font-color-secondary);
  margin: 0.5em 0 1em;
}

.heroMobile p {
  font-family: Inter;
  font-size: clamp(0.8rem, 0.48rem + 0.853vw, 1rem);
  margin-bottom: 1em;
}

@media screen and (max-height: 450px) {
  .main > section > h3 {
    display: none !important;
  }
}
@media screen and (min-width: 1000px) {
  .main > section > div {
    margin: 0 7em 0 50%;
  }
}
@media screen and (min-width: 1350px) {
  .main > section > div {
    margin: 0 calc(50% - 35em) 0 50%;
  }
}

@media screen and (max-width: 850px) {
  .main > section {
    max-width: 35em;
    margin: 0 auto;
  }
  .main > section > h3 {
    display: block;
    position: fixed;
    left: 1.8em;
    top: 4em;
    color: var(--font-color-primary);
    font-size: 1.2em;
    font-weight: 800;
    color: var(--font-color-secondary);

    letter-spacing: 0.8em;
    font-family: Bebas_neue;
    opacity: 0.8;
    animation: fadeIn 1s;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .main > section > div {
    border: 1px solid transparent;
    padding: 0 2em;
    top: 2em;
    border-radius: none;
    margin: 0;
  }
}
