.experience {
  height: 100dvh;
}

.experience > div {
  padding-top: 3em !important;
  display: flex;
  flex-direction: column;
  padding-bottom: -1em !important;
  color: var(--font-color-primary);
}
@media screen and (min-width: 850px) {
  .experience > div:hover {
    background-color: var(--background-transparent);
  }
}

.row {
  margin-bottom: 2em;
}

.row > div:nth-child(2) {
  width: 100%;
}

.experience .row h3 {
  color: var(--font-color-tertiary);

  letter-spacing: 0.1em;
  font-size: 1.1em;
}

.description {
  font-weight: 400;
  margin-top: 0.8em;
  font-weight: 00;
  font-size: 0.9em;
}
.experience p.date {
  color: var(--font-color-secondary);

  opacity: 0.9;

  letter-spacing: 0.3em;
  font-size: 0.8em;
  font-weight: 800;
  text-align: right;
  margin: -1em 0 2em;
}
.experience .row ul {
  margin: 1em 0 0 1em;
  font-size: 0.8em !important;

  font-weight: 600;
}

.skills,
.experienceLinks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.35em;
  margin-top: 0.6em;
}

.experienceLinks a {
  color: var(--font-color-secondary);
}
.experienceLinks a div {
  margin: -0.1em 0.7em 0.2em 0;
}
.experienceLinks p {
  font-size: 0.7em;
  color: var(--font-color-secondary);
  display: inline;
  margin-left: 0.5em;
}

.skills p {
  background-color: var(--background-transparent);
  padding: 0.3em 0.8em 0.3em 0.9em;
  color: var(--font-color-secondary);
  border-radius: 15px;
  font-size: 0.65em !important;
  font-weight: 600;
  margin-top: 0 !important;
}

@media screen and (max-width: 850px) {
  .experience {
    padding-top: 3em;
  }

  .row {
    margin-top: 1em;
    margin-bottom: 0;
  }

  .experience p.date {
    color: var(--font-color-secondary);

    opacity: 0.9;

    letter-spacing: 0.3em;
    font-size: 0.8em;
    font-weight: 800;
    text-align: right;
    margin: -1em 0 0.5em;
  }
  .experience > div > div > div:nth-child(1) > p {
    font-size: 0.8em;
    letter-spacing: 0.08em;
  }

  .experience .row h3 {
    color: var(--font-color-tertiary);
    letter-spacing: 0.1em;
    font-size: 1em;
  }

  .experience .row ul {
    margin: 1em 0 0 1em;
    color: var(--font-color-primary);
    font-size: 0.9em;
  }

  .row > div:nth-child(2) p {
    font-size: 1.1em;
  }

  .experienceLinks {
    margin-top: 0.5em;
  }
  .skills {
    margin-top: 0.5em;
  }
  .skills p {
    background-color: var(--background-transparent);
    padding: 0.2em 0.5em 0.1em;

    color: var(--font-color-secondary);
    border-radius: 15px;
    font-size: 0.7em !important;
  }
  .experience > div {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}
