.contact {
  height: 100dvh;
  padding-top: 4.5em;
}
.contactForm {
  color: var(--font-color-primary);
  gap: 1em;
}

.contactForm div {
  margin: 0;
  margin-bottom: 3em;
}

.contactForm input,
.contactForm textarea {
  display: block;
  width: 100%;
  border: 1px solid var(--font-color-primary);
  border-radius: 3px;
  font-size: 1.2em;
  box-shadow: 5px 5px 0 var(--shadow-color);
  margin: 0.3em 0 1.8em;

  color: var(--font-color-primary);
  background-color: transparent;
}

.contactForm label,
.contactForm button {
  color: var(--font-color-primary);
  font-family: Bebas_Neue;
  letter-spacing: 2px;
}

.contactForm input {
  padding: 0.8em 0.5em 0.3em;
}
.contactForm textarea {
  padding: 1.6em 0.5em 0.3em;
  min-height: 15vh;
  font-size: 0.9em;
}

.contactForm button {
  font-size: 1.2em;
  background-color: var(--font-color-primary);
  color: black;
  padding: 0.5em 1em 0.3em;
  display: block;
  margin: -1em auto;
  box-shadow: 5px 5px 0 var(--shadow-color);
  border-radius: 5px;
}

.contactForm label {
  position: absolute;
  margin: -0.6em 0.5em 0;
  padding: 0 0.1em 0 0.3em;
  border-radius: 2px;
  z-index: 100;
  background-color: #202121;
}
@media screen and (max-width: 850px) {
  .contact {
    height: 92dvh;
    padding-top: 5.5em;
  }
}
