.container {
  position: absolute;
  top: 2.8em;
  padding: 0.5em 0.5em 0.3em;
  border-radius: 3px;
  background-color: var(--warning-color);
  color: var(--font-color-opposite);
  letter-spacing: 0.1em;
}
